<div id="slogan" style="display:block">
    <div class="content_ctn marquee">
        <div class="js-marquee-wrapper">
            <div class="js-marquee" style="margin-right: 0px; float: left;">Nhấn vào "TRỰC TIẾP BÓNG ĐÁ" không truy cập
                được thì truy cập vào nhóm <a href="https://t.me/mannhantv" target="_blank">TELEGRAM</a> nhắn tin để
                được hỗ trợ . CAO TỐC TV - XEM BÓNG ĐÁ BÌNH LUẬN TIẾNG VIỆT CHẤT LƯỢNG CAO VỚI BÌNH LUẬN VIÊN TOKUDA
            </div>
        </div>
    </div>
</div>
<div id="boxed">
    <div class="deco"><span class="deco01"></span> <span class="deco02"></span></div>
    <header id="header">
        <div class="container"><h1 id="logo"><a href="?v=88"><img
                src="assets/images/caotoc.png" alt="caotoc.tv"></a></h1><h4>LƯU WEB BẰNG
            CÁCH CHIA SẺ WEB VỀ FACEBOOK</h4>
            <p>TỔNG HỢP NHỮNG TRANG WEB TRỰC TIẾP BÓNG ĐÁ CHẤT LƯỢNG NHẤT VIỆT NAM</p></div>
    </header>
    <main id="main_content">
        <section id="section01">
            <div class="container">
                <ul class="list">
                    <li><a id="web-live" target="_blank" href="https://xem1.mannhan2.live"><img
                            src="https://9767ebd63c.vws.vegacdn.vn/template/logo.png" class="logo_mannhan" alt="">
                        <p class="txt">Trực tiếp bóng đá</p>
                        <button class="more">Click Xem Tại Đây</button>
                    </a></li>
                    <li><a target="_blank" href="https://www.facebook.com/groups/1264088371031735"><img
                            src="https://9767ebd63c.vws.vegacdn.vn/template/seo/images/facebook.png" alt="">
                        <button class="more">Group facebook</button>
                    </a></li>
                    <li><a target="_blank" href="https://www.facebook.com/Mannhantv-105465118913972"><img
                            src="https://9767ebd63c.vws.vegacdn.vn/template/seo/images/facebook.png" alt="">
                        <button class="more">Fanpage facebook</button>
                    </a></li>
                    <li><a target="_blank" href="https://t.me/mannhantv"><img
                            src="https://9767ebd63c.vws.vegacdn.vn/template/telegram.png" alt="">
                        <button class="more">Nhóm Telegram</button>
                    </a></li>
                </ul>
            </div>
        </section>
    </main>
    <footer id="footer">
        <div class="container">
            <div class="about_us">Truyền hình trực tiếp chất lượng full HD VỚI CAOTOC<br>Bình luận tiếng việt tất cả trận đấu VERY HOT
                nhất
            </div>
        </div>
    </footer>
</div>

